/Assets/House Blender HDRP/Blend file/House HDRP.blend
/Assets/House Blender HDRP/Blend file/House HDRP.blend1
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostmac/lld
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/libburst-llvm-12.dylib
/Assets/House Blender HDRP/Blend file/House HDRP.blend
/Assets/House Blender HDRP/Blend file/House HDRP.blend1
/Assets/House Blender HDRP/FBX/House HDRP.fbx
/Assets/Site/Blend file/site.blend
/Assets/Site/Blend file/site.blend1
/Library/
/Library/ArtifactDB
/Library/Artifacts/72/721b910e2af98d35fc432cda318599f7
/Library/Artifacts/c6/c67463a73d992109ef9c865e5cc32859
/Library/Artifacts/f1/f1fcf7eba174fd2a904a8afcc7039925
/Library/Artifacts/f5/f51484c3042ffaed4dc6fd76e5479018
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostlin/lld
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostmac/dsymutil
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostmac/lld
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostwin/lld.exe
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/libburst-llvm-10.dylib
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/libburst-llvm-12.dylib
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/libburst-llvm-12.so
/Packages/
/Temp/